<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TradingApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/Chart.min.js"></script>
    <script type="text/javascript" src="~/lib/chartjs-plugin-annotation-master/chartjs-plugin-annotation.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="Symbols">Symbols </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="Chart">Chart </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="StockStat">Stock Statistics </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="Gainers">Gainers </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="Losers">Losers </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="Refresh">Refresh </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="About">About </a><text> | </text>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>ISDS, Muma College of Business, University of South Florida</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
